{% extends "base.html" %}

{% block content %}
        <h1 class="header">Build a Blog</h1>
        
        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% else %}

            
                {% for blog in blogs %}
                
                
                <form action="/blog">
                     
                    <input type="hidden" name="id" value="{{blog.id}}" />
                    <input type="hidden" name="title" value="{{blog.title}}" />
                    <input type="hidden" name="blog" value="{{blog.blog}}" />  
                    <h1><a href='/single-blog?id={{blog.id}}'>{{blog.title}}</a></h1>
                    <p>{{blog.blog}}</p>
                    <p>Written by: <a href='/user-blogs?user={{blog.owner.id}}'>{{blog.owner.username}}</a></p>
                                       
                    <hr/>    
                </form>
                
                {% endfor %}
            
        
        {% endif %}
        
 
{% endblock %}