{% extends "base.html" %}

{% block content %}
        <h1 class="header">Build a Blog</h1>
        
        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% else %}

            
                {% for blog in blogs %}
                <h1>{{blog.title}}</h1>
                <p>{{blog.blog}}</p>
                    <form action="/delete-task" method="POST">
                        <input type="hidden" name="blog-id" value="{{blog.id}}" />
                        
                    </form>
                <hr/>
                {% endfor %}
            
        
        {% endif %}
        
 
{% endblock %}