{% extends "base.html" %}

{% block content %}
        <h1 class="header">Build a Blog</h1>
        
        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% else %}

            
                {% for blog in blogs %}
                
                <form action="/single-blog">
                    
                    <h1><a href='/single-blog'>{{blog.title}}</a></h1>
                    <p>{{blog.blog}}</p>
                    <input type="hidden" name="blog_id" value="{{blog.id}}" />                       
                    <hr/>    
                </form>
                
                {% endfor %}
            
        
        {% endif %}
        
 
{% endblock %}