{% extends "base.html" %}

{% block content %}
        <h1 class="header">Blog Users</h1>
        
        {% if users|length == 0 %}
        <p>No Users yet</p>
        {% else %}

            
                {% for user in users %}
                
                <form action="/">
                        <input type="hidden" name="id" value="{{user.id}}" /> 
                        <input type="hidden" name="username" value="{{user.username}}" />
                        <a href='/user-blogs?user={{user.id}}'>{{user.username}}</a>
                      
                </form>

                {% endfor %}
            
        
        {% endif %}
        
 
{% endblock %}