{% extends "base.html" %}

{% block content %}
        <h1 class="header">Add a Blog Entry</h1>
        <form action="/newpost" method = 'post'>
            <div>
                <p>Title for your new blog:</p>
                <input type = "text" name = "title" value="{{title}}"/>
                {% if title_error %}
                    <p class="error">{{title_error }}</p>
                {% endif %}
            </div>
            <br>
            <div>
                <p>Your new blog:</p>
                <textarea class="textarea" name="blog" >{{blog}}</textarea>     
                {% if blog_error %}
                    <p class="error">{{blog_error }}</p>
                {% endif %}
            </div>
            <br>
            <input type = "submit" value = "Add Entry" />
        </form>
        
{% endblock %}