{% extends "base.html" %}

{% block content %}
<h1>Signup for Blogz</h1>
<form class="form" action="/signup" method="post">    
    
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" name="username" value="{{ username }}"/></td>
            {% if username_error %}
            <td><span class="error">{{ username_error }}</span></td>
            {% endif %}
        </tr>
        <tr>    
              
            <td><label>Password</label></td>
            <td><input type="password" name="password" /></td>
            {% if password_error %}
            <td><span class="error">{{ password_error }}</span></td>
            {% endif %}
        </tr>
        <tr>
            <td><label>Verify Password</label></td>
            <td><input type="password" name="verify" /></td>
            {% if match_error %}
            <td><span class="error">{{ match_error }}</span></td>
            {% endif %}
        </tr>
    </table>

    <input type="submit" value="Signup" />
    
</form>

{% endblock %}